.readme-container {
  max-width: 800px;
  padding: 20px;
  background-color: #F3F3F3;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  grid-area: readme;
}

.readme-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
