.mentor-dashboard {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #F9F9F9; 
    min-height: 100vh; 
}

.mentor-dashboard header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 75px;
}

.mentor-dashboard header h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color:  #333333; 
    text-decoration: none;
}

.header-links a {
    margin-left: 20px;
    text-decoration: none;
    color:  #333333; 
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.header-links a:hover {
    text-decoration: underline;
    color:   #333333;
}

#filter-search { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#filter-search input,
#filter-search select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #A9A9A9; 
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 50px;
}

#filter-search input:focus,
#filter-search select:focus {
    border-color: #EE4434; 
}

#grads-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.grad-card {
    display: block;
    background-color: #ffffff; 
    padding: 20px;
    border: 1px solid #DEDEDE; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px;
    color: #333333; 
    transition: box-shadow 0.3s ease; 
}

.grad-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px; 
}

.grad-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.grad-card p {
    margin: 5px 0;
    color: #888888; 
}

.grad-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

#show-all-grads {
    padding: 10px 15px;
    background-color: #EE4434; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-all-grads:hover {
    background-color: #d32f2f; 
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888888; 
    pointer-events: none;
}

#search {
    padding-left: 30px;
}
