body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: #333333;}

.front-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    height: 90vh;
    margin: 20px;
    background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/cute-panda-working-on-laptop-illustration-download-in-svg-png-gif-file-formats--business-illustrations-3535311.png?f=webp");
    background-size: 35% 60%;
    background-position: right center;
    background-repeat: no-repeat;
}

.cyf-img {
    width: 15%;
    position: relative;
    left: 97%;
    top: 25%;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, #DEDEDE 70%, transparent 100%); 
    z-index: 1;
}

.front-container h1 {
    margin-top: 10%;
    font-size: 3rem;
    color: #333333; 
    margin-left: 24%;
    font-weight: 700;
}

.front-content {
    padding-top: 0;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    text-align: left;
    margin-left: 10%;
}

.front-content h2 {
    color: #EE4434; 
    font-size: 1.75rem;
    font-size: 1.95em;
    margin-bottom: 35px;
    margin-left: 10%;
    margin-top: -20px;
}

.front-content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.front-content li {
    font-size: 1.5rem;
    margin-bottom: 35px;
    color: #555555; 
}

.front-button {
    margin-top: 25px;
    display: block;
    margin-left: 25%;
    padding: 20px;
    font-size: 1.25rem;
    color: #ffffff; 
    background-color: #EE4434; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.front-button:hover {
    background-color: #d32f2f; 
}

.front-content p {
    font-size: 0.875rem;
    color: #777777; 
    margin-bottom: 25px;
    text-align: center;
}
