body {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;

	color: #333;
}

.front-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	position: relative;
	height: 100vh;
	/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQa7CEKUWHjEgzG831vXz1xtIVBmNrGH9vNg&s"); */

	background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/cute-panda-working-on-laptop-illustration-download-in-svg-png-gif-file-formats--business-illustrations-3535311.png?f=webp");
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
}

.background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background: linear-gradient(to right, #dedede 70%, transparent 100%);
	z-index: 1;
}

.front-container h1 {
	margin-top: 10%;
	font-size: 2.5rem;
	color: #333333;
	margin-bottom: 20px;
	margin-left: 28%;
	font-weight: 700;
}

.front-content {
	padding: 20px;
	width: 100%;
	max-width: 800px;
	text-align: left;
	margin-left: 10%;
}

.front-content h2 {
	color: #4a90e2;
	font-size: 1.75rem;
	font-size: 1.95em;
	color: #333333;
	margin-bottom: 35px;
	margin-left: 10%;
}

.front-content ul {
	list-style-type: disc;
	padding-left: 20px;
	margin-bottom: 20px;
}

.front-content li {
	font-size: 1.5rem;
	margin-bottom: 35px;
	color: #555;
}

.front-button {
	margin-top: 25px;

	display: block;
	width: 100%;
	padding: 13px;
	font-size: 1.25rem;
	color: #fff;
	background-color: #4a90e2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 30px;
	transition: background-color 0.3s ease;
}

.front-button:hover {
	background-color: #357abd;
}

.front-content p {
	font-size: 0.875rem;
	color: #777;
	margin-bottom: 25px;
	text-align: center;
}
