.avatar_container {
  max-width: 400px;
  padding: 20px;
  background-color: #F3F3F3;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: myAv;
}

.avatar-image {
  border-radius: 50%;
  width: 360px;
  height: 360px;
  object-fit: cover;
  border: 3px solid #ddd;
}

.github-link {
  text-decoration: none;
  color: #333;
  display: block;
  margin-top: 15px;
}

.github-link h1 {
  font-size: 20px;
  font-weight: bold;
  background-color: #ee4434;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.github-link h1:hover {
  background-color: #d6332c;
}

.skill_list {
  grid-area: skills;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill_item {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 14px;
}
